body {
    margin: 50px auto;
    width: 500px;
}
.diagram {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(220, 231, 194);
    border: 30px solid rgb(89, 233, 144);
    border-right: 30px solid rgb(132, 201, 175);;
    padding: 7px;
    box-sizing: border-box;
}
p {
    text-align: center;
    font-size: 25px;
}